<%-include('layout/header')%>
<main class="about">
    <h2>About</h2>
    <p>This Beautiful login form is Designed Using Ejs</p>
    <p>By Developer &copy; Mr. Rick saha</p>
</main>
<%-include('layout/footer')%>
